<?xml version="1.0" encoding="utf-8"?>

<!--
See: https://developer.android.com/guide/topics/manifest/manifest-intro.html
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danosoftware.galaxyforce">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--
    Previous application theme: android:theme="@style/AppTheme".
    @android:style/Theme.Translucent.NoTitleBar : causes app to start without displaying white screen and title bar.
    Could also use following but requires SDK version 11: @android:style/Theme.Holo.NoActionBar
    -->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:allowBackup="true">

        <activity
            android:name="com.danosoftware.galaxyforce.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
